/* Root Section */
:root {
    --top-banner-bg: #4BA4F2;
    --table-sheets-header: #20A9E5;
    --table-sheets-rows: #B3ECF2;
    --text-highlighted: #F2E205;
    --color-white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Header Section */
.top-banner {
    background: 
    var(--top-banner-bg) 
    url(../img/pattern.png)
    repeat;
    height: 180px;
}

.logo {
    height: auto;
    width: 300px;
    margin: 8px;
    padding-top: 85px;
}